%card-title {
    margin: 1rem 0;
    display: block;
    text-align: center;
    font-weight: 600;
}

%card {
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 16.5rem;
    height: 17.5rem;
    padding: .5rem;
    margin: 1rem .5rem;
    box-shadow: 0 0 8px 5px rgba(255,255,255,.1);

    @media(max-width: 920px) {
        width: 45rem;
        height: 15rem;
    }

    @media(max-width: 850px) {
        width: 38rem;
    }

    @media(max-width: 700px) {
        width: 24rem;
    }

    @media(max-width: 440px) {
        width: auto;
    }
}

