@mixin container($rows: repeat(3, 1fr), $columns: 1fr 2fr 1fr) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    padding: 0 .5rem;

    @media(max-width: 1300px) {
        grid-template-columns: 1fr 10fr 1fr;
    }
    @media(max-width: 900px) {
        grid-template-columns: 1fr 20fr 1fr;
    }

}
