%inner {
    padding: .5rem;
}

.about {
    &__container {
        @include container(repeat(1fr, 4));
        grid-row-gap: 1.5rem;

        &__header {
            grid-row: 1;
            grid-column: 2;
            text-align: center;
        }

        &__prt {
            grid-row: 2;
            grid-column: 2;
            @extend %inner;

            &--header {
                font-weight: 600;
                text-decoration: underline;
            }
        }

        &__me {
            grid-row: 3;
            grid-column: 2;
            @extend %inner;

            &--header {
                font-weight: 600;
                text-decoration: underline;
            }


        }

        &__me:after {
            content: 'Skills';
            padding: 8px;
            font-weight: 600;
            font-size: 18px;
            text-decoration: underline;
            position: relative;
            top: 1.5rem;
        }

        &__skills {
            grid-row: 4;
            grid-column: 2;
            display: flex;
            flex-direction: row;
            padding: .5rem;
            justify-content: space-between;
            align-items: center;

            @media(max-width: 1000px) {
                flex-direction: column;
                margin: .5rem 0;
                justify-content: inherit;
                align-items: inherit;
            }
            
            &__icon {
                width: 85px;
                height: 65px;
            }
    
            &__icons {
                display: flex;
                justify-content: center;
            }


            &__title {
                @extend %card-title;                    
            }

            &--frontend, &--server, &--devops {
                @extend %card;

                &:hover {
                    background: #2d313c;
                    transform: translateY(-.5rem) scale(1.03);
                    transition: .5s;
                }
            }
        }
    }
}
